device-identifier:      #a name for you to recognize your device
  name:                 #friendly name for this device
  host:                 #ip or host of the tasmota web interface
  username:
  password:
  type:                 #for example 'de', or nothing for pure tasmota
